<ion-header>
    <ion-toolbar color="dark">
        <ion-img src="../../assets/logo.svg"></ion-img>
        <ion-menu-button slot="end"></ion-menu-button>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <ion-slides pager="true" #sliderRef [options]="{allowTouchMove: false}">
        <ion-slide>
            <ion-list>
                <div>
                    <h1>Recuperar contraseña</h1>
                    <p>recibirá un código de confirmación por sms para recuperar su contraseña.</p>
                </div>

                <ion-item>
                    <ion-input type="text" placeholder="Tel. Móvil"></ion-input>
                </ion-item>
                <div class="slideButtons">
                    <ion-button class="next" shape="round" fill="solid" color="light" (click)="slideNext()">
                        <ion-icon src="../../assets/next.svg"></ion-icon>
                    </ion-button>
                </div>
            </ion-list>
        </ion-slide>

        <ion-slide>
            <ion-list>
                <h1>Recuperar Contraseña</h1>
                <p>Se ha enviado un SMS a 11 xxx-xxx. Por favor complete el código recibido.</p>
                <ion-grid id="numbersGrid">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-input></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-input></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-input></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-input></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="slideButtons">
                <ion-button class="next" shape="round" fill="solid" color="light" (click)="slideNext()">
                    <ion-icon src="../../assets/next.svg"></ion-icon>
                </ion-button>
                </div>
            </ion-list>
        </ion-slide>

        <ion-slide>
            <ion-list>
                <h1>Recuperar Contraseña</h1>
                <p>Recibirá un código de confirmación por SMS para recuperar su contraseña.</p>
                <div class="loginForm">
                    <ion-item>
                        <ion-input type="text" placeholder="Nueva Contraseña"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="Repita Contraseña"></ion-input>
                    </ion-item>
                </div>
                <div class="slideButtons" >
                    <ion-button class="next" shape="round" fill="solid" color="light" (click)="presentModal()">
                        <ion-icon src="../../assets/next.svg"></ion-icon>
                    </ion-button>
                </div>
            </ion-list>
        </ion-slide>

    </ion-slides>
</ion-content>


