<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-icon class="headerIcon" routerLink="/buscador" src="../../assets/search.svg" slot="end" size="large"></ion-icon>
            <ion-icon class="headerIcon"  src="../../assets/shopping-cart.svg" slot="end" size="large" routerLink="/carrito"></ion-icon>
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-img id="logo" src="../../assets/logo.svg"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="back">
        <ion-grid>
            <ion-row>
                <ion-button fill="clear">
                    <ion-icon src="../../assets/left-arrow.svg" color="light" class="ion-padding-bottom"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-row>
                <ion-label color="light" class="ion-padding-start ion-padding-bottom">Mis Pedidos</ion-label>
            </ion-row>
        </ion-grid>
    </div>

    <ion-list inset="true">
        <ion-item *ngFor="let p of pedidos" class="center">
            <ion-grid>
                <ion-row class="ion-justify-content-evenly ion-padding-top">
                    <ion-label>{{p.fecha}}</ion-label>
                    <ion-label>{{p.cantidad}} Productos</ion-label>
                    <ion-label>Total {{p.costo}}</ion-label>
                </ion-row>
                <ion-row class="ion-justify-content-evenly ion-padding-top ion-padding-bottom">
                    <ion-button size="medium" expand="round" color="dark" disabled="true">Ver</ion-button>
                    <ion-button size="medium" expand="round" color="dark">Repetir Pedido</ion-button>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
