<ion-header>
    <ion-toolbar>
        <ion-icon src="../../assets/search.svg" slot="end" size="large"></ion-icon>
        <ion-icon src="../../assets/shopping-cart.svg" slot="end" size="large"></ion-icon>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img src="../../assets/logo.svg"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="searchDiv">
        <ion-grid>
            <ion-row class="ion-justify-content-around">
                <ion-button fill="clear">
                    <ion-icon src="../../assets/left-arrow.svg" color="light"></ion-icon>
                </ion-button>
                <ion-searchbar placeholder="" color="dark"></ion-searchbar>
            </ion-row>
        </ion-grid>
        <div class="headers">
            <ion-button color="dark" (click)="opcionesHeader1()">{{header1}}</ion-button>
            <ion-button color="dark" (click)="opcionesHeader2()">{{header2}}</ion-button>
        </div>
    </div>
    <ion-list inset="true">
        <ion-item *ngFor="let p of productos" class="center">
            <ion-grid>
                <ion-row>
                    <div class="code">
                        <div>
                            <p>Codigo</p>
                            <p>{{p.codigo}}</p>
                        </div>
                        <div class="line"></div>
                    </div>

                    <div class="details">
                        <p>{{p.nombre}}</p>
                        <p>{{p.precio}}</p>
                    </div>
                </ion-row>
                <ion-row class="ion-padding-top">
                    <ion-button expand="round" color="dark" (click)="agregarProducto(p.nombre)">Agregar</ion-button>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
