<ion-header>
    <ion-toolbar>
        <ion-icon class="headerIcon" routerLink="/carrito" src="../../assets/shopping-cart.svg" slot="end" size="large"></ion-icon>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img id="logo" src="../../assets/logo.svg"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div class="center">
        <ion-label>Encontrá nuestros productos.</ion-label>
    </div>
    <div class="center">
        <ion-searchbar placeholder="" color="dark"></ion-searchbar>
    </div>


    <ion-list inset="true">
        <ion-item *ngFor="let i of list[index].items" color="dark">
            <ion-text>{{i}}</ion-text>
        </ion-item>
    </ion-list>


    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="tabClicked(0)">
                <ion-label>Cocina</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="tabClicked(1)">
                <ion-label>Ventilacion</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="tabClicked(2)">
                <ion-label>Hogar</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
