<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-img src="../../assets/logo.svg"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="grid ion-justify-content-center">
        <h1 [innerHTML]="title">
        </h1>
        <p  [innerHTML]="subTitle"></p>
        <ion-icon src="../../assets/cart.svg"></ion-icon>
        <div class="ion-padding-top">
            <ion-button expand="round" color="dark" (click)="ingresar()">Ingresar</ion-button>
        </div>
    </div>
</ion-content>
