<ion-content>
    <div class="flex">
        <ion-img src="../../assets/logo.svg"></ion-img>
        <ion-icon id="menu" name="menu"></ion-icon>
    </div>
    <div class="grid ion-justify-content-center">
        <h1 id="title" [innerHTML]="title">
        </h1>
        <p id="subtitle" [innerHTML]="subTitle" class="ion-margin-bottom ion-margin-top"></p>
        <ion-icon src="../../assets/cart.svg"></ion-icon>
        <div id="ingresarBtn">
            <ion-button expand="round" color="dark" (click)="ingresar()">Ingresar</ion-button>
        </div>
    </div>
</ion-content>
