ion-list{
  bottom: 0;
  padding-bottom: 0;
  position: absolute;
  width: 100%;
}

.footer {
  background-color: var(--ion-color-dark);
  width:100%;
}

ion-header {
  background : none;
}

.wrapper{
  height: 50%;
}

.header-md:after {
  display: none;
}

ion-item > ion-icon {
  filter: invert(1);
}
